

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">My Todo List</h3></div>
    <div class="panel-body">
      <div ng-repeat="todo in ctrl.todos">
        <div class="checkbox">
          <label><input type="checkbox" ng-checked="todo.complete"> {{todo.content}}</label>
          <button class="btn" ng-click="ctrl.deleteTodo(todo.id)">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <form class="form-inline" ng-submit="ctrl.addTodo(ctrl.newTodo)">
        <div class="form-group">
          <input class="form-control" type="text" ng-model="ctrl.newTodo.content" placeholder="Enter something to do...">
          <button class="btn btn-success" type="submit">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
